# Basic automation excel with python - openpyxl

installation

In [1]:
# pip install openpyxl

In [2]:
import openpyxl
import numpy as np
import matplotlib.pyplot as plt

to load or create new workbook

In [3]:
from openpyxl import Workbook, load_workbook

in order to read a xlsx file, here I need to create one

to create a new workbook

In [4]:
wb = Workbook()

create a worksheet

In [5]:
ws=wb.active
ws.title = 'Data'

In [6]:
import pandas as pd
df = pd.DataFrame({'Name':['Joe', 'Bill', 'Tim', 'Sally', 'Jane', np.nan], 
                   'math':[65,55,100,30,100,70], 
                   'science':[78,72,45,25,100,64], 
                   'english':[98,87,75,45,100,81],
                   'gym': [89,95,92,100,60,87.2]})
df.to_excel('./Grades.xlsx', index=False)
df

    Name  math  science  english    gym
0    Joe    65       78       98   89.0
1   Bill    55       72       87   95.0
2    Tim   100       45       75   92.0
3  Sally    30       25       45  100.0
4   Jane   100      100      100   60.0
5    NaN    70       64       81   87.2

load the xlsx file

In [7]:
wb = load_workbook('./Grades.xlsx')
wb

load the active wooksheet

In [8]:
ws = wb.active
ws

access the value

In [9]:
print(ws['B1'].value)

math

change the value of a cell, and save the change
Note: the file should not be opened while script is running to save the change into the opened file

In [10]:
ws['B1'] = 'Math'
wb.save('Grades.xlsx')

create a new sheet

In [11]:
wb.create_sheet('Test')
print(wb.sheetnames)
wb.save('Grades.xlsx')

['Sheet1', 'Test']

append data to the end of the existing worksheet

In [12]:
ws = wb['Test']
ws.append(['Total', 'Average', 'Median'])
ws.append(['end'])
wb.save('Grades.xlsx')

create a loop, to read the values in cells

to get the column number, use the function openpyxl.utils.get_column_letter()

In [13]:
df

    Name  math  science  english    gym
0    Joe    65       78       98   89.0
1   Bill    55       72       87   95.0
2    Tim   100       45       75   92.0
3  Sally    30       25       45  100.0
4   Jane   100      100      100   60.0
5    NaN    70       64       81   87.2

In [14]:
from openpyxl.utils import get_column_letter
ws = wb['Sheet1']
for row in range(2,7):
    for column in range(2,6):
        column_letter = get_column_letter(column)
        column_row = column_letter + str(row)
        print("cell {} value is {}".format(column_row, ws[column_row].value))

cell B2 value is 65
cell C2 value is 78
cell D2 value is 98
cell E2 value is 89
cell B3 value is 55
cell C3 value is 72
cell D3 value is 87
cell E3 value is 95
cell B4 value is 100
cell C4 value is 45
cell D4 value is 75
cell E4 value is 92
cell B5 value is 30
cell C5 value is 25
cell D5 value is 45
cell E5 value is 100
cell B6 value is 100
cell C6 value is 100
cell D6 value is 100
cell E6 value is 60

merge cells and un-merge cells

In [15]:
ws = wb['Test']
ws.merge_cells('A2:D4')
wb.save('Grades.xlsx')

In [16]:
ws = wb['Test']
ws.unmerge_cells('A2:D4')
wb.save('Grades.xlsx')

insert a new row with ws.insert_rows(n) after row number n

In [17]:
ws.insert_rows(1)
wb.save('Grades.xlsx')

delete rows, similar to the insertion

In [18]:
ws.delete_rows(1)
wb.save('Grades.xlsx')

insert and delete columns

In [19]:
ws.insert_cols(2)
ws.delete_cols(2)
wb.save('Grades.xlsx')

Shift a cells or cells left/right up/down

In [20]:
# rows=5, cols-3 means move the cells down by 5 rows and right by 3 columns
# negative values means to left or up 
ws.move_range('A1:D1', rows=5, cols=3)
wb.save('Grades.xlsx')

Earlier we did write a dataframe into a excel, this can be done in excel way by writing a dict to a xlsx

In [21]:
# dict grades
grade_data = {
    'Joe':{
        'math': 65,
        'science':78,
        'english':98,
        'gym':89},
    'Bill':{
        'math':55,
        'science':72,
        'english':87,
        'gym':95}
    }

In [22]:
wb = Workbook()
ws = wb.active
ws.title = 'Grades'
# write the header, shift first column by one, so add 'Name' to the keys of the dict 
headings = ['Name']+ list(grade_data['Joe'].keys())
print(headings)
ws.append(headings)

['Name', 'math', 'science', 'english', 'gym']

loop through the keys and append the values in each sub-dict

In [23]:
for student in grade_data:
    grade = list(grade_data[student].values())
    print(grade)
    ws.append([student]+grade)
wb.save('./new_grades.xlsx')

[65, 78, 98, 89]
[55, 72, 87, 95]

change the font color and style

In [24]:
from openpyxl.styles import Font
for col in range(1,6):
    col_letter = get_column_letter(col)
    ws[col_letter+'1'].font = Font(bold=True, color='0099CCFF')
wb.save('./new_grades.xlsx')