### Match Excel file practice

In [4]:
#pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/orangepi/.local/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /home/orangepi/.local/lib/python3.10/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
excel_file = 'excel_matching_file.xlsx'

In [20]:
data = pd.read_excel(excel_file, sheet_name=None)

In [21]:
data.keys()

dict_keys(['Sheet1', 'Sheet2'])

In [22]:
for k in data.keys():
    print(data[k])

     type part number  sequence
0  type A           A         1
1  type B           B         2
2  type C           C         3
3  type D           D         4
4  type E           E         5
  part number  sequence note
0           A         1   A1
1           B         2   B2
2           C         3   C3

In [23]:
big_df = data['Sheet1']
small_df = data['Sheet2']

In [24]:
big_df

     type part number  sequence
0  type A           A         1
1  type B           B         2
2  type C           C         3
3  type D           D         4
4  type E           E         5

In [25]:
small_df

  part number  sequence note
0           A         1   A1
1           B         2   B2
2           C         3   C3

In [45]:
merge_big = pd.merge(big_df,small_df, how='left', on='part number')
merge_big

     type part number  sequence_x  sequence_y note
0  type A           A           1         1.0   A1
1  type B           B           2         2.0   B2
2  type C           C           3         3.0   C3
3  type D           D           4         NaN  NaN
4  type E           E           5         NaN  NaN

In [28]:
merge_small = pd.merge(big_df, small_df, how='right', on='part number')
merge_small

     type part number  sequence_x  sequence_y note
0  type A           A           1           1   A1
1  type B           B           2           2   B2
2  type C           C           3           3   C3

In [44]:
merge_big['note'].fillna('Not Found', inplace=True)
merge_big

     type part number  sequence_x  sequence_y note
0  type A           A           1         1.0   A1
1  type B           B           2         2.0   B2
2  type C           C           3         3.0   C3

In [42]:
merge_big.dropna(subset='sequence_y', inplace=True)
merge_big

     type part number  sequence_x  sequence_y note
0  type A           A           1         1.0   A1
1  type B           B           2         2.0   B2
2  type C           C           3         3.0   C3

In [46]:
merge_big['note'][3] = 'D4'

/tmp/ipykernel_4540/2009453080.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_big['note'][3] = 'D4'

In [47]:
merge_big

     type part number  sequence_x  sequence_y note
0  type A           A           1         1.0   A1
1  type B           B           2         2.0   B2
2  type C           C           3         3.0   C3
3  type D           D           4         NaN   D4
4  type E           E           5         NaN  NaN

In [50]:
merge_big.dropna(subset='note',inplace=True)
merge_big

     type part number  sequence_x  sequence_y note
0  type A           A           1         1.0   A1
1  type B           B           2         2.0   B2
2  type C           C           3         3.0   C3
3  type D           D           4         NaN   D4

In [51]:
merge_big_selected = merge_big[['type', 'part number', 'note']]
merge_big_selected

     type part number note
0  type A           A   A1
1  type B           B   B2
2  type C           C   C3
3  type D           D   D4

In [53]:
with pd.ExcelWriter(excel_file,mode='a') as writer:
    merge_big_selected.to_excel(writer, sheet_name='merged')